.main-title{
  display: flex;
  justify-content: center;
  color: rgb(21, 18, 18);
}
.title{
  display: flex;
  justify-content: center;
  color: #141619;
}
.library-btns{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 77vh;
}
.btn{
  height: 100px;
  width: 300px;
  border-radius: 0%;
  margin: 10px;
  background-color: #164d81;
  font-size: larger;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 5px 5px 12px rgb(8, 8, 5)
}
.master-card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  height: auto;
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 5px 5px 12px rgb(8, 8, 5)
}
.card-details{
  height: auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 5px 5px 12px rgb(8, 8, 5);
}
.image{
  height: 250px;
  width: 250px;
  border-radius: 20px 20px 0 0;
}
.image-details{
  height: 350px;
  width: 400px;
  border-radius: 20px 20px 0 0;
  object-fit: fill;
}
.book-details{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.book-details-view{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
.material-btns{
  display: flex;
  justify-content: center;
}
.add-btn{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 1rem;
}
.save-btn{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.bg-image{
  background-image: linear-gradient(to top, rgba(112, 42, 42, 0.2)50%,rgba(139, 98, 98, 0.2)50%),url(https://i.pinimg.com/originals/5d/3f/a3/5d3fa3a2a9b56d5779579cb9f7b6f4a9.jpg);
}
.add-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  margin: 0 auto;
}
.article{
  margin: 10px;
  display: flex;
  justify-content: center;
}
.section{
  font-size: large;
}
.footer{
  margin-top: 20px;
  height: 50px;
  border: 1px solid #0d47a1;
  background-color: #0d47a1;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-div{
  margin: 5px;
  height: 900px;
  background-image: url(https://media.istockphoto.com/id/1301533980/photo/books-on-bookshelf-in-library-back-to-school-education-concept-on-colored-abstract-yellow.jpg?s=612x612&w=0&k=20&c=mh5OwohYdUBMhDicz6IG86Yo_6EWwnt4Ka9W4CqPhMg=);
}
.heading{
  display: flex;
  justify-content: center;
  color: #00193b;
}
.sub-heading{
  color: #2a6fd0;
  font-size: large;
  display: block;
}